
<section class="dlaczego section" id="dlaczego">
    <div class="container">
    <div class="container-image">
        <img
        class="dl-img"
         src="./img/LEONPLOT.svg" 
        alt="name">
    </div>
        <div class="dl-help">
            <div>
    <h3 class="title">Dlaczego warto skorzystać z naszej oferty?</h3>
    <ul class="warto-list">
        <li>Wieloletnie doświadczenia</li>
        <li>Szybki czas realizacji</li>
        <li>Polecają klienci</li>
        <li>Materiały najwyższej jakości</li>
        <li>Gwarancja jakości</li>
    </ul>
</div>

    <div class="dlaczego-img">
        <img class="dl-photo"
        src="./img/fon.jpeg" alt="photo">
    </div>
</div>
<div class="granica"></div>
</div>
</section>