
<header class="header">
    <nav class="header-nav">
  <a 
  class="logo-header"
  href="./index.html">
     <img src="./img/LEONPLOT.svg" 
      alt="name">
  </a>
  
      <ul class="menu-list">
          <li><a href="#dlaczego">O NAS</a></li>
          <li><a href="#oferta">OFERTA</a></li>
          <li><a href="#realizacje">REALIZACJE</a></li>
          <li><a href="#blog">BŁOG</a></li>
          <li><a href="#opinie">OPINIE</a></li>
          <li><a href="#kontakt">KONTAKT</a></li>
      </ul>
  </nav>
 </header>