<section class="opinie" id="opinie">

    <div class="logo-h3"><h3 class="logo-title">LEONPLOT</h3></div>
    
<div class="form-wrap">
    <form class="form-opinie">
        <p>PROSIMY O WYSTAWIENIU OPINIU
            NASZEJ WSPULPRACE </p>
        <label class="opinie-label" for="name">IMIE, NAZWISKO</label>
        <input 
        class="opinie-input" 
        name="name" 
        id="name" 
        type="text">
        <label class="opinie-label" for="email">EMAIL</label>
        <input
         class="opinie-input"
          name="email"
           id="email"
            type="email">
        <label class="opinie-label" for="user-comment"></label>
        <textarea 
        class="opinie-textarea" 
        name="user-comment" 
        id="user-comment" 
        placeholder="miejsce na twój komentaż"
        ></textarea>
        <button>WYŚLIJ</button>
    </form>
</div>


    <div class="opinie-wrap">
    <div class="opinie-container"><h2 class="opinie-title">OPINIE</h2></div>
    <ul>
        <li class="user-opinie"></li>
        <li class="user-opinie"></li>
        <li class="user-opinie"></li>
    </ul>
</div>
</section>