.opinie {
    width: 1440px;
    position: relative;
    height: 980px;
    flex-shrink: 0;
    background-color: #576f35;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: 
    url(../img/opinie.png);
}


.logo-h3 {
    transform: rotate(-90deg);
    position: absolute;
    height: 180px;
    bottom: 50%;
    margin: 0 0  -90px -400px;
    width: 980px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80) ;
}

.logo-title {
    color: var(--gold, #E9CF8C);
    font-family: Raleway;
    font-size: 88px;
    font-weight: 200;
    letter-spacing: 3.52px;
    text-align: center;
    align-items: center;
    padding: 40px 0;
  
}
/* -------------- */
.opinie-wrapper {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
/* ------------- */
.form-wrap {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 200px;
    padding: 44px;
    width: 500px;
    height: 100%;
    border-radius: 4px;
border: 4px solid #E9CF8C;
background-color: rgba(0, 0, 0, 0.80) ;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-opinie {
    display: flex;
    flex-direction: column;
}

.form-text {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-weight: 700;
letter-spacing: 2.2px;
margin-bottom: 32px;
}

.opinie-label {
    color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.2px;
margin-bottom: 8px;
}
.opinie-input {
height: 48px;
flex-shrink: 0;
margin-bottom: 24px;
border-radius: 4px;
background-color: #FFF;
font-size: 24px;
padding-left: 12px;
}
.opinie-textarea {
    margin-top: 8px;
height: 200px;
flex-shrink: 0;
background-color: #FFF;
margin-bottom: 28px;
font-size: 24px;
color: black;
padding: 12px;
}

.user-star {
    color: #E9CF8C;
    font-size: 48px;
    margin: 0 auto;
}


.btn-opinie {
    width: 240px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 8px;
background: var(--gold, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, rgba(249, 242, 149, 0.32) 0%, rgba(224, 170, 62, 0.32) 30.84%, rgba(243, 194, 100, 0.69) 61.06%, rgba(239, 197, 49, 0.22) 92.52%), #E9CF8C);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #413f3f;
font-family: Raleway;
font-size: 28px;
font-weight: 700;
letter-spacing: 4.84px;
margin: 0 auto;
}



.custom-placeholder::placeholder {
    color: rgb(206, 189, 104); 
    opacity: 1;  
    font-family: Raleway;
    font-size: 24px;
  }




  .opinie-wrap {
 width: 500px;
height: 100%;

}

.opinie-container {
    width: 100%;
    margin: 0 auto;
}

.opinie-title {
    color: var(--gold, #E9CF8C);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 200;
    letter-spacing: 3.52px;
    align-items: center;
    margin-top: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.user-opinie {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user-opinie-item {
height: 200px;
flex-shrink: 0;
border-radius: 4px;
border: 4px solid var(--gold, #E9CF8C);
opacity: 0.8;
background: #000;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 12px;
}

.opinie-ti {
    display: flex;
    justify-content: space-between;
    font-size: 48px;
}

.opinie-name {
    color: #FFF;
    font-size: 28px;
    margin-bottom: 16px;
}

.opinie-ret {
    color: #E9CF8C;
}

.opinie-data {
    color: #FFF;
    font-size: 28px;
    margin-bottom: 16px;
}

.opinie-text {
    color: #FFF;
    font-size: 20px;
}