
@import url('./reset.css');
@import url('./header.css');
@import url('./blog.css');
@import url('./dlaczego.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./kontakt.css');
@import url('./oferta.css');
@import url('./opinie.css');
@import url('./realizacja.css');







.container {
  max-width: 1400px;
  padding-left: 100px;
  padding-right: 100px;
}

.section {
  padding-top: 40px;
  padding-bottom: 80px;
}

